# Understanding Character Encoding

***Encoding is the process of converting data into a format required for a number of information processing needs, including:***

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv('LoanApprovalPrediction.csv')

data.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [8]:
data.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           12
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             598 non-null    object
 2   Married            598 non-null    object
 3   Dependents         586 non-null    float64
 4   Education          598 non-null    object
 5   Self_Employed      598 non-null    object
 6   ApplicantIncome    598 non-null    int64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         577 non-null    float64
 9   Loan_Amount_Term   584 non-null    float64
 10  Credit_History     549 non-null    float64
 11  Property_Area      598 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 60.9+ KB

In [15]:
data.select_dtypes(include='float64').columns

Index(['Dependents', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History'],
      dtype='object')

In [18]:
from sklearn.impute import SimpleImputer

SimpleI = SimpleImputer(strategy='mean')

Array = SimpleI.fit_transform(data[['Dependents', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History']])

In [19]:
Array

array([[0.00000000e+00, 0.00000000e+00, 1.44968804e+02, 3.60000000e+02,
        1.00000000e+00],
       [1.00000000e+00, 1.50800000e+03, 1.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 6.60000000e+01, 3.60000000e+02,
        1.00000000e+00],
       ...,
       [1.00000000e+00, 2.40000000e+02, 2.53000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.00000000e+00, 0.00000000e+00, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.33000000e+02, 3.60000000e+02,
        0.00000000e+00]])

In [21]:
data[['Dependents', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History']]  = pd.DataFrame(SimpleI.fit_transform(data[['Dependents', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History']]))

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             598 non-null    object
 2   Married            598 non-null    object
 3   Dependents         598 non-null    float64
 4   Education          598 non-null    object
 5   Self_Employed      598 non-null    object
 6   ApplicantIncome    598 non-null    int64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         598 non-null    float64
 9   Loan_Amount_Term   598 non-null    float64
 10  Credit_History     598 non-null    float64
 11  Property_Area      598 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 60.9+ KB

In [24]:
data.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [36]:
data.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,No,0.0,Graduate,No,5849,0.0,144.968804,360.0,1.0,Urban,Y
1,LP001003,0,Yes,1.0,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,0,Yes,0.0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,0,Yes,0.0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,0,No,0.0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [38]:
data.select_dtypes(include='object').columns

Index(['Loan_ID', 'Married', 'Education', 'Self_Employed', 'Property_Area',
       'Loan_Status'],
      dtype='object')

# Label Encoder

In [41]:

# Label Encoder

from sklearn.preprocessing import LabelEncoder

LabelEncoders = LabelEncoder()
data['Gender'] = LabelEncoders.fit_transform(data[ 'Gender' ])

In [44]:
data['Married'] = LabelEncoders.fit_transform(data[ 'Married' ])
data['Education'] = LabelEncoders.fit_transform(data[ 'Education' ])
data['Self_Employed'] = LabelEncoders.fit_transform(data[ 'Self_Employed' ])
data['Property_Area'] = LabelEncoders.fit_transform(data[ 'Property_Area' ])
data['Loan_Status'] = LabelEncoders.fit_transform(data[ 'Loan_Status' ])

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             598 non-null    int64
 2   Married            598 non-null    int32
 3   Dependents         598 non-null    float64
 4   Education          598 non-null    int32
 5   Self_Employed      598 non-null    int32
 6   ApplicantIncome    598 non-null    int64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         598 non-null    float64
 9   Loan_Amount_Term   598 non-null    float64
 10  Credit_History     598 non-null    float64
 11  Property_Area      598 non-null    int32
 12  Loan_Status        598 non-null    int32
dtypes: float64(5), int32(5), int64(2), object(1)
memory usage: 49.2+ KB

# Map Function

In [49]:
# map function

new_data = pd.read_csv('LoanApprovalPrediction.csv')
new_data.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [50]:
new_data.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [55]:
new_data['Gender'] = new_data['Gender'] .map({'Male':0,'Female':1})   # 'Male':0,'Female':1

In [56]:
new_data.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,0,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [60]:
new_data['Gender'].astype # int64

<bound method NDFrame.astype of 0      0
1      0
2      0
3      0
4      0
      ..
593    1
594    0
595    0
596    0
597    1
Name: Gender, Length: 598, dtype: int64>